# OS
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.pyc

# CFD / ANSYS outputs
*.out
*.res
*.trn
*.def
*.prt
*.log
*.dat
*.cas
*.msh
*.ccl
*.cdat
*.err
solverFiles/

# Mesh and geometry
*.stp
*.step
*.igs
*.iges
*.obj
*.stl

# Large files
*.zip
*.tar.gz
